@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

header{
  height: 400px;
  width: 100%;
  padding: 30px;
  background:linear-gradient(rgba(255,0,0,0.5),rgba(255, 0, 0, 0.5)), url('/images/zypIzf0STh.jpg');
  background-size: cover;
  color:white;
  z-index: 100;
}
nav{
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background: transparent;
  border-bottom:violet;
  z-index: 100;
  color:darkolivegreen;
  padding: 10px;
}
nav.active{
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background: transparent;
  border-bottom:tomato;
  z-index: 100;
}
.logo{
  font-size: 22px;
  font-weight: 900;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li.nav-item{
  list-style: none;
  margin: 0px 4px;
}

.nav-item a{
  text-decoration: none;
  color: inherit;
}

.myself{
margin-top: 150px;
text-align: center;
}
.check{
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 30px;
  margin:50px;
  border-radius: 5px;
}
.check a{
  background: inherit;
  text-decoration: none;
  color: inherit;
}
.check a:hover{
  background-color: ivory;
  color: inherit;
}
.portfo{
  background: #f8f8f8;
  padding: 100px;
  text-align: center;
  color: #706F6F;
  height:200px;
  justify-content: space-evenly;
}
.sample_work{
  text-align: center;
  padding-top: 70px;
  justify-content: space-evenly;
}
h1.u{
  padding-top: 30px;
}

.about{
  padding: 150px;
  text-align: center;
  background:linear-gradient( rgba(0, 0, 122, 0.5),rgba(0, 0, 122, 0.5)) , url('/images/IafPUgaaxC.jpg');
  height: 300px;
  background-repeat: no-repeat;
  color: white;
}
.contact{
  background-color: #D24D57;
  text-align: center;
  padding:100px;
  height: 300px;
  color: white;

}
.cont{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li.navy{
  list-style: none;
  margin: 0px 4px;
  padding: 20px;
  margin-top: 5px;
  
}
.navy a{
  text-decoration: none;
  color: inherit;
  border-right: 2px;
}
footer{
  background-color: #252525;
  height: 200px;
  margin: 0px;
  color: #4E4539;
  text-align: center;
  padding: 150px;
  justify-content: space-between;
}
.fol{
  background-color: black;
  margin: 10px;
  border-style: groove;
  color: inherit;
  padding: 10px;
  
}
